* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  overflow-x: hidden;
  background-color: #808080;
}

#myVideo {
  position: fixed;
  object-fit: cover;
  right: 0;
  bottom: 0;
  width: 118vw;
  height: 100vh;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

footer {
  height: 300px;
  width: 100%;
  background-color: darkgrey;
  position: relative;
}
p.copyright {
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.discover-footer {
  height: 100vh;
  width: 100%;
  background-color: darkgrey;
}
.discover-footer-p {
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 1em;
  text-align: center;
}
#ex-disc {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  left: 10%;
}
#ex {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 20%;
  left: 10%;
}
div.gallery-co {
  float: left;
  width: 100%;
  height: 700px;
  margin-bottom: 1px;
}
div.gallery {
  float: left;
  width: 49.9%;
  margin-top: 1px;
}

div.desc {
  padding: 15px;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
  clear: left;
  font-size: 40px;
}
#btn-im {
  float: left;
  text-decoration: none;
  padding: 18px 20px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  text-align: center;
  font-family: Arial,sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: 280px;
}

.caption {
  padding: 15px;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-size: 50px;
  position: relative;
  left: 15%;
  padding-top: 100px;
}
#bt{
  float: left;
  text-decoration: none;
  padding: 18px 20px;
  position: relative;
  margin-top: 50px;
  left: 15%;
  background: #1E90FF;
  text-align: center;
  font-family: Arial,sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: 280px;
}
#bt:hover {
  background-color: #4169E1;
}
#btn-im:hover {
  background: rgba(0, 0, 0, 0.3);
}
.mo {
  margin-right: 2px;
}
.bg-cov {
  background-image: url("../images/ix-co.jpg");
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-img1 {
  background-image: url("../images/i8-co.jpeg");
  min-height: 380px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 2s;
}
.bg-img2 {
  background-image: url("../images/i4.jpg");
  min-height: 380px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 2s;
}
.bg-img3 {
  background-image: url("../images/i3.jpg");
  min-height: 380px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 2s;
}
.bg-img4 {
  background-image: url("../images/i7.webp");
  min-height: 380px;
  width: 100%
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 2s;
}
.bg-img1:hover,.bg-img2:hover,.bg-img3:hover,.bg-img4:hover {
  opacity: 0.5;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}
.pro a{
  background-color: #1E90FF;
}

#lo {
  width: 30px;
  height: 23px;
  margin-top: 5px;
  margin-right: 8px;
}
.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 5px;
  margin-bottom: 5px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  border-bottom: 4px solid #4169E1;
  color: black;
}

.topnav .icon {
  display: none;
}
.topnav .dif {
  color: white;
}
.topnav a.act {
  border-bottom: 4px solid #4169E1;
  color: white;
}
#bm {
  float:right;
  font-size:30px;
  margin-top:8px;
  margin-right:10px;
  font-weight: bold;
  margin-bottom: -5px;
}
#b {
  color: #4682B4;
}
#m {
  color: black;
}
#m-or {
  color: white;
}
#w {
  color: #4682B4;
}
div.gallery-pro {
  border: 1px solid #ccc;
  height: 500px;
  margin-top: 2px;
  background-color: #8FBC8F;
}
div.gallery-pro:hover {
  border: 1px solid #777;
}
div.gallery-pro img {
  width: 100%;
  height: 310px;
  transition: transform 1.5s;
}
div.gallery-pro img:hover{
  transform: scale(1.2, 1.09);
}
div.des {
  padding: 15px;
  text-align: center;
}
table {
  width: 100%;
  height: auto;
  margin-top: 3px;
}
td {
  border-bottom: 1px solid black;
  color: black;
  padding-left: 5px;
  font-size: 15px;
  text-align: left;
  width: 100%;
}
th {
  border-bottom: 1px solid black;
  color: black;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
tr:nth-child(even){background-color: #ddd;}
.two-stars {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  background-image: url("../images/two-stars.jpg");
  background-repeat: no-repeat;
}
.three-stars {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  background-image: url("../images/three-stars.jpg");
  background-repeat: no-repeat;
}
.four-stars {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  background-image: url("../images/four-stars.jpg");
  background-repeat: no-repeat;
}
.five-stars {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  background-image: url("../images/five-stars.jpg");
  background-repeat: no-repeat;
}
.section-1 {
  position: relative;
  width: 95%;
  margin: auto;
  height: 500px;
}

.section-1 img {
  position: absolute;
  height: 500px;
  width: 100%;
}

.top {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#h2-news {
  margin-top: -25px;
  font-size: 30px;
  font-weight: bold;
  color: #2F4F4F;
}
.title {
  font-size: 30px;
  font-weight: bold;
  color: #2F4F4F;
  margin-left: 10px;
}
.news-title {
  font-size: 30px;
  font-weight: bold;
  color: #2F4F4F;
  text-align: center;
}
#container{
  box-shadow: 0 15px 30px 1px black;
  background: rgba(255, 255, 255, 0.90);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 0px auto 5em auto;
  height: 350px;
  width: 80vw;
}
.product-details {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 40%;
}
#container .product-details h1{
  font-family: 'Bebas Neue', cursive;
  display: inline-block;
  position: relative;
  font-size: 1.9vmax;
  color: #344055;
  margin: 0;
}

#container .product-details > p {
  font-family: 'EB Garamond', serif;
  text-align: center;
  font-size: 1.5vmax;
  color: #7d7d7d;

}
.product-image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 45%;
}
#container img {width: 100%;height: 100%;}
.info h2 {text-align: center}
.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}
* {
  box-sizing: border-box;
}

#register {
  background-image: url("../images/cov-form.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

input[type=text],input[type=password],input[type=email],input[type=tel] ,select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4169E1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #483D8B;
}

.container-form {
  border-radius: 5px;
  background-color: rgba(255,255,255,0.2);
  padding: 20px;
  width: 45%;
  height: 600px;
  margin-top: 50px;
  margin-left: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sub {
  margin-top: 10px;
}
/*responsive_imagegallery*/
.responsive {
  padding: 0 6px;
  float: left;
  height: auto;
  width: 24.99999%;
}
@media only screen and (max-width: 1005px) {
  div.gallery {
    width: 99.8%;
  }
}
@media only screen and (max-width: 852px) {
  .responsive {
    width: 33.3333%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media screen and (max-width: 755px) {
  #logo {
    display: none;
  }
}

@media only screen and (max-width: 506px) {
  div.bg-cov {
    background-image: url("../images/bmw-cover-phone.jpg");
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 99%;
  }
  #container {
    width: 95%;
  }
  .product-image {
    width: 60%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*nav_bar_responsive*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .container-form {
    width: 80%;
    height: 100%;
  }
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    height: 35px;
    margin-top: 0;
  }
  #bm {
    text-align: center;
    float: none;
  }
}
